.container {margin-left: auto;
    margin-right: auto;
    width: 1440px;
font-family:sans-serif}
ul {list-style-type: none;
    margin: 0;
    padding-left: 0;}
.header-wrapper {border-bottom: 1px solid #ebe8f4;
    display: grid;
    grid-template-columns: 80px 1132px 27px 27px 27px;
    padding-left: 80px;
    padding-right: 80px;
    justify-self: center;}
.logo {font-weight: 400;
    font-size: 24px;
    color: #22202e;
    padding-top: 25px;
    padding-bottom: 26px;}
.header-nav {padding: 29px 281px 29px 149px;}
.header-nav-list {display: flex;
    gap: 44px;}
.header-nav-item {font-weight: 400;
    font-size: 16px;
    color: #726e8d;}
.header-item {padding-top: 30px;
    padding-bottom: 34px;}
.header-item-bg1  {background-image: url(./img/search.svg);
    background-size: 100% 100%;
    width: 16px; height: 16px;}
.header-item-bg2 {background-image: url(./img/shopping--cart.svg);
    background-size: 100% 100%;
    width: 16px; height: 16px;}
.header-item-bg3 {background-image: url(./img/user--avatar.svg);
    background-size: 100% 100%;
    width: 16px; height: 16px;  }
.title {margin-top: 80px;
    margin-bottom: 24px;
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;
    color: #2a254b;
    text-align: center;}
.select-menu {border-color: white;
    margin: 12px 48px 12px 24px; }
.select-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2a254b;}
.select-label {font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #2a254b;}
.select-label-wrapper {margin-left: auto;}
.selects-wrapper {display: flex;
    gap: 12px;
    padding: 8px 104px;}
.catalog {display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 28px 80px 56px 80px;
    row-gap: 58px;}
.catalog-item-name {font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #2a254b;
    padding-top: 24px;
    padding-bottom: 8px;
    margin: 0;}
.catalog-item-price {font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #2a254b;
    margin: 0;}
.catalog-view {grid-column: span 4;
    justify-self: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2a254b;}
.subscription {display: grid;
    grid-template-columns: 50% 1fr;
    column-gap: 49px;}
.subscription-bg {background-image: url(./img/join-background.jpg);
    height: 521px;}
.subscription-title {padding-top: 71px;
    font-weight: 400;
    font-size: 32px;
    color: #2a254b;
    margin: 0;}
.subscription-text {font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #2a254b;
    margin: 0;
    padding-top: 21px;
    padding-right: 201px;
    padding-bottom: 216px;}
.subscription-link {margin-left: 23px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #fff;
    padding: 16px 32px;
    width: 120px;
    height: 56px;
    background: #2a254b;}
.footer-wrapper {background: #2a254b;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 60px 78px 25px 82px;}
.footer-nav-wrapper {display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 12px;}
.footer-nav {line-height: 200%;}
.footer-nav-text {font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin: 0;}
.footer-nav-item {font-weight: 400;
    font-size: 14px;
    color: #fff;}
.sotial-network {grid-column: span 2;
    display: flex;
    margin-top: 48px;
    padding-top: 25px;
    border-top: 1px solid #4e4d93;
    justify-content: space-between;}
.network-item1 {width: 21px;
    height: 21px;
    background-image: url(./img/logo--linkedin.svg);
    background-size: 100% 100%;}
.network-item2 {width: 21px;
    height: 21px;
    background-image: url(./img/logo--facebook.svg);
    background-size: 100% 100%;}
.network-item3 {width: 21px;
    height: 21px;
    background-image: url(./img/logo--instagram.svg);
    background-size: 100% 100%;}
.network-item4 {width: 21px;
    height: 21px;
    background-image: url(./img/logo--skype.svg);
    background-size: 100% 100%;}
.network-item5 {width: 21px;
    height: 21px;
    background-image: url(./img/logo--twitter.svg);
    background-size: 100% 100%;}
.network-item6 {width: 21px;
    height: 21px;
    background-image: url(./img/logo--pinterest.svg);
    background-size: 100% 100%;}
.copyright {margin: 0;
    font-weight: 400;
    font-size: 14px;
    color: #fff;}
.network {display: flex;
    gap: 24px;}
